.our-services-container {
    /* border: 1px solid red; */
    display: grid;
    /* margin-right: 250px;
    margin-left: 250px; */
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(#b3e8e964, #0fd9dc64);
    padding-top: 100px;

}